@charset "UTF-8";
#brd_select{
	width:600px;
	position: relative;
}

form>label{
	display:inline-block;
	width:70px;
}

form>textarea{
	margin-top: 5px;
}

#hit{
	border: 0
}

#title{
	background-color: #777;
	padding: 3px;
	color:#fff;
}
#list>div{
	padding:3px;
}
#list>div:hover{
	background-color: #ccc;
}
#list>div:last-of-type{
	border-bottom: 3px solid #888;
}

#findStr{
	position: absolute;
	right: 45px;
}

#btnSearch{
	position: absolute;
	right: 0
}
div>span{
	display: inline-block;
}
.serial{
	width:50px;
}
.subject{
	width:200px;
}
.mName{
	width:100px;
}
.mDate{
	width:120px;
}
.hit{
	width:80px;
}

#content{
	margin-top: 10px;
	padding: 10px;
}